@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
* {
  box-sizing: border-box;
}
html,
body {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}
:root {
  --color-green-pool: #38af90;
  --color-light-red: #dd7e92;
  --color-dark-gray: #383838;
  --color-light-gray: #f0f0f0;
  --color-white: #fff;
  --color-gray: #797979;
}
.color-green {
  color: var(--color-green-pool);
}
.line {
  background-color: var(--color-green-pool);
  border: 1px solid #38af90;
}
.container {
  width: 100%;
  max-width: 990px;
  margin: 0 auto;
}
img {
  width: 280px;
}

header {
  position: sticky;
  top:0;
  height: 90px;
  width: 100%;
  background-color: var(--color-green-pool);
  color: var(--color-white);
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.75));
  z-index: 1;
}

.nav-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.nav-main h1 {
  font-size: 18px;
}

.nav-list-container {
  margin: 0;
  display: flex;
  align-items: center;
  margin-top: 7px;
}

.nav-list {
  display: none;
}

.img-header {
  list-style: none;
}

.img-header img {
  width: 62px;
}

.last-news {
  color: var(--color-gray);
  padding: 0 10px;
}

.last-news h1 {
  text-align: center;
}

.card-last-news {
  background-color: var(--color-light-gray);
  padding: 16px 12px 12px 12px;
  border-radius: 8px;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.75));
  margin-bottom: 30px;
}

.last-news h2 {
  font-size: 16px;
}

.last-news h3 {
  font-size: 12px;
}

.last-news small {
  font-size: 10px;
}
.paragraph-news {
  font-size: 10px;
}

.load-more {
  color: var(--color-light-red);
  font-size: 14px;
  font-weight: 700;
  margin: 0;
}

.button {
  text-align: center;
  margin-bottom: 40px;
}

.load-more-button {
  padding: 20px 56px;
  font-size: 18px;
  background-color: var(--color-light-red);
  border: none;
  border-radius: 8px;
  color: var(--color-white);
  font-weight: 700;
}

.games {
  background-color: var(--color-light-gray);
  padding: 0 10px;
  padding-bottom: 10px;
}
.games h1 {
  color: var(--color-green-pool);
  padding-top: 40px;
  padding-bottom: 30px;
  text-align: center;
  margin: 0;
}
.container-card-games {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card-games {
  background-color: var(--color-white);
  margin-bottom: 30px;
  border-radius: 8px;
  max-width: 300px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}
.card-games img {
  width: 100%;
  max-width: 300px;
  border-radius: 8px 8px 0 0;
}
.card-games h2 {
  color: var(--color-gray);
  font-size: 18px;
  text-align: center;
  margin-bottom: 0;
}
.games-creator {
  margin: 0;
  font-size: 12px;
  color: var(--color-gray);
  text-align: center;
}
.card-games span {
  color: var(--color-green-pool);
  font-weight: 700;
  text-align: center;
  font-size: 14px;
}
.grade {
  color: var(--color-green-pool);
  font-size: 36px;
  text-align: center;
  display: block;
  padding: 15px 0;
  margin: 0;
  font-weight: 700;
}

.subscription {
  padding: 10px;
  margin-top: 30px;
  color: var(--color-gray);
  margin-bottom: 50px;
}

.subscription h1 {
  text-align: center;
}

.card-subscription {
  background-color: var(--color-light-gray);
  padding: 50px 10px 30px 10px;
  margin-bottom: 30px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  max-width: 790px;
  margin: 0 auto;
}

.personal {
  width: 100%;
  height: 50px;
  font-size: 16px;
  border: 1px solid #797979;
  border-radius: 4px;
  margin-bottom: 20px;
  padding-left: 20px;
}
#ctrl-console {
  display: flex;
  flex-direction: column;
}

.container-buttons {
  display: flex;
  flex-direction: column;

  padding: 20px;
  margin-top: 20px;
  font-family: "Poppins", sans-serif;
  justify-content: space-around;
  text-align: center;
}
.submit-button {
  background-color: var(--color-light-red);
  color: var(--color-white);
  font-weight: 700;
  height: 65px;
  font-size: 18px;
  max-width: 700px;
  margin-bottom: 20px;
  border-radius: 8px;
}
.clear-button {
  font-weight: 700;
  border: 2px solid #dd7e92;
  color: var(--color-light-red);
  height: 65px;
  font-size: 18px;
  max-width: 700px;
  border-radius: 8px;
}
.options {
  display: flex;
  margin-bottom: 10px;
}
.option {
}
.accept-news {
  margin-top: 25px;
}

.type-size {
  width: 23px;
  height: 23px;
}

footer {
  height: 300px;
  background-color: var(--color-dark-gray);
  color: var(--color-white);
  text-decoration: none;
  font-size: 14px;
  text-align: center;
  line-height: 21px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 0;
}

footer a {
  text-decoration: none;
  color: var(--color-white);
  display: block;
}

.use-terms p {
  margin: 0;
}

@media (min-width: 768px) {
  .nav-list {
    display: flex;
    list-style: none;
  }

  .nav-list a {
    margin-right: 30px;
    text-decoration: none;
    color: var(--color-white);
  }
  .card-subscription{
    padding:50px 70px 0 70px ;
  }

  .container-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .submit-button {
    width: 250px;
  }
  .clear-button {
    width: 250px;
  }
  footer {
    height: 190px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }
}
